.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Add a container for social media buttons */
.socialButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.cvB, .conB {
    background-color: transparent;
    color: #000;
    padding: 12px 20px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
    border: 2px solid #000;
    transition: all 0.3s ease;
}

.cvB:hover, .conB:hover {
    background-color: black;
    color: #fff;
}

.githubB {
    align-items: center;
    justify-content: center;
    align-self: center;
    border: none;
    cursor: pointer;
    height: 48px;
    width: 48px;
    margin: 5px;
    transition: all 0.2s ease;
    background-color: white;
}

.githubB img {
    vertical-align: middle;
}

.githubB:hover {
    color: #0a0a0a;
    transform: scale(1.1);
}

.about-container {

    margin-top: 5rem;
    padding: 0;
    
}

.about-title {
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 38px;
    
    text-align: center;
}

.about-content {
    flex: 1;
    margin: 0;
    margin-right: 2rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 0;
    padding: 0;
    margin-right: 0;
    margin-top: 3rem;
    gap: 3rem;
    background-color: white;
}

.education-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #000;
    padding: 2rem;
    border-radius: 2rem;
    margin: 0;
    justify-content: center; /* Centers content vertically */
    text-align: center;
    align-items: center;
    height: 200px; /* Add a fixed height to enable vertical centering */
}

.education-heading {
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem; /* Add some space between heading and content */
}

.education-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text {
    flex: 1;
    min-width: 280px;
    max-width: 800px;
    font-family: 'Poppins';
    font-size: clamp(18px, 2vw, 16px);
    line-height: 1.6;
    color: #525150;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .about-container {
        padding: 0 1rem;
    }
    
    .about-text {
        padding: 0 1rem;
        margin-top: 1rem;
    }
    .education-box{
        margin-top: 2rem;
    }
    .aboutMe {
        flex-direction: column;
    }
    
    .buttonContainer {
        flex-direction: column;
        align-items: center;
    }
    
    .socialButtons {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}