


.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.contact-container {
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    border: 1px solid #000;
    width: 25rem;
    border-radius: 30px;
    align-items: center;
    gap: 1rem;
}
.emailBtn {
    background-color: #fff;
    color: #000000;
    border: none;
    margin: 0;
    cursor: pointer;
    padding: 0;
    width: 33px;
    height: 33px;
    justify-content: center;
}



