*{
    justify-content: center;
    align-items: center;
}


.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1.75rem;  
    border: 1px solid #000;
    width: 25rem;
    align-self: 'center';
    border-radius: 30px;
    align-items: center;
    gap: 1rem;
    justify-content: left;
}

.emailBtn {
    background-color: #fff;
    color: #000000;
    border: none;
    margin: 0;
    cursor: pointer;
    padding: 0;
    width: 33px;
    height: 33px;
    justify-content: center;
}



