.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
}

/* Add styling for the main title */
.experience-container h1 {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.experience-container h2 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #525150;
    text-align: center;
    width: 100%;
}

.experience-grid {
    margin-top: 4rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: left;
    width: 100%;
    flex-direction: row;
}

.experience-card {
    background: white;
    padding: 2rem;
    width: 700px;
    height: 350px;
    border-radius: 30px;
    border: 1px solid #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change from center to flex-start */
    justify-content: center;
    align-content: flex-start; /* Change from center to flex-start */
}

.experience-card h3 {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    margin-top: -1rem;
    color: #525150;
    align-self: center; /* Center the title */
    width: 100%; /* Take full width */
    text-align: center; /* Center the text */
    margin-left: 0; /* Remove left margin */
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    list-style: none;
    margin: 0.5rem;
    margin-top: 2rem;
    text-align: left; /* Change from center to left */
}

.skills-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Change from center to flex-start */
    gap: 1rem;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 0;
}

.skill-icon {
    width: 20px;
    height: 20px;
    fill: #525150;
}

@media (max-width: 768px) {
    .experience-container {
        
        margin-top: 0rem;
    }

    .experience-grid {
        flex-direction: column;
        gap: 2rem;
        align-content: center;
        
    }

    .experience-card {
        width: 100%;
        max-width: 400px;
        min-height: 300px;
        padding: 1rem;
    }

    .skills-list {
        justify-content: center;
        align-items: center;
        align-content: center;
        
        padding: 0;
    }
}