.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.experience-grid {
    margin-top: 4rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    flex-direction: row;
}

.experience-card {
    background: white;
    padding: 2.2rem;
    width: 700px;
    height: 320px;
    border-radius: 30px;
    border: 1px solid #000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.experience-card h3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    margin-top: -2rem;
    color: #525150;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 1rem;
    margin-left: 3rem;
}

.skills-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 0.5rem;
    color: #000;
}

.skill-icon {
    width: 20px;
    height: 20px;
    fill: #525150;
}

@media (max-width: 768px) {
    .experience-grid {
        flex-direction: column;
        gap: 2rem;
        align-content: center;
    }

    .experience-card {
        width: 100%;
        max-width: 350px;
        min-height: 450px;
        padding: 1rem;
    }

    .skills-list {
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
    }
}