div {
    margin-top: 0;
    padding-top: 0;
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    
    
    
    
}



div ul {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

div li {
    padding: 0.5rem;
}

div a {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}



html {
    scroll-behavior: smooth;

}



@media (max-width: 820px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    div ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    
    div a {
        font-size: 0.9rem;
    }

    div h2 {
        margin-bottom: 0.5rem;
    }
}
