.projects-container {
    padding: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.projects-grid {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
}

.project-card {
    background: #f5f5f5;
    padding-top: 2.2rem;
    width: 300px;
    min-height: 580px;
    border-radius: 30px;
    border: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.project-gif-container {
    padding: 0.1rem;
    align-self: center;
    width: 200px; 
    height: 400px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0;
}

.project-gif {
    
    padding: 0.1rem;
    align-self: center;
    width: 200px; 
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0;
    
}

.githubBtn {
    background-color: transparent;
    color: #000;
    padding: 8px 0px;
    width: 6rem;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
    border: 2px solid #000;
    transition: all 0.3s ease;
    
}

.githubBtn:hover {
    background-color: black;
    color: #fff;
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        gap: 2rem;
        align-content: center;
    }

    .project-card {
        width: 100%;
        max-width: 350px;
        min-height: 450px;
        padding: 1rem;
    }

    .project-gif-container {
        width: 90%;
        height: auto;
        max-height: 300px;
    }
    .project-gif {
        width: 90%;
        height: auto;
        max-height: 300px;
        
    }
}